docs/projects/01 Threat Intelligence Brief and SOC Recommendations.md
docs/assets/diagrams/fortigate.png
.gitignore
.gitignore
.gitignore
docs/assets/diagrams/Home Lab Network-pt1.png
docs/assets/diagrams/Home Lab Network-pt1b.png
.gitignore
.gitignore
docs/assets/diagrams/Home Lab Network-pt2.png
docs/assets/diagrams/Home Lab Network-pt3.png
docs/projects/homelab/08-vis-response-pt2-bak.md
